<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwu.mapper.common.MyTutorInspectMapper">

    <update id="updateTutorInspectById" parameterType="com.nwu.entities.TutorInspect">
        UPDATE tutor_inspect
        SET `name`            = #{tutorInspect.name},
            gender            = #{tutorInspect.gender},
            image= #{tutorInspect.image},
            organization_id= #{tutorInspect.organizationId},
            birthday=#{tutorInspect.birthday},
            `identity`        = #{tutorInspect.identity},
            phone= #{tutorInspect.phone},
            email=#{tutorInspect.email},
            title=#{tutorInspect.title},
            evaluate_time=#{tutorInspect.evaluateTime},
            final_degree=#{tutorInspect.finalDegree},
            awarding_unit_time=#{tutorInspect.awardingUnitTime}
        WHERE tutor_id = #{tutorInspect.tutorId};
    </update>
    <update id="updateTutorInspect" parameterType="com.nwu.entities.TutorInspect">
        UPDATE tutor_inspect
        SET `name`            = #{tutorInspect.name},
            gender            = #{tutorInspect.gender},
            image= #{tutorInspect.image},
            organization_id= #{tutorInspect.organizationId},
            birthday=#{tutorInspect.birthday},
            `identity`        = #{tutorInspect.identity},
            phone= #{tutorInspect.phone},
            email=#{tutorInspect.email},
            title=#{tutorInspect.title},
            evaluate_time=#{tutorInspect.evaluateTime},
            final_degree=#{tutorInspect.finalDegree},
            awarding_unit_time=#{tutorInspect.awardingUnitTime}
        WHERE tutor_id = #{tutorInspect.tutorId};
    </update>
</mapper>