<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwu.mapper.QueryDepartmentSecretaryMapper">
    <select id="findAll" resultType="com.nwu.entities.query.QueryDepartmentSecretaryInit">
        select
            /*导师基本信息，申请类别的名称，申请表的申请类别id,申请表的状态码，状态码的描述*/
            t.*,
            a2.apply_name as applyName,
            a.apply_id,
            a.status,
            s.inspect_describe
        from tutor_inspect t, /* 导师非免审表 */
             apply a, /* 教师申请表 */
             apply_type a2, /* 申请类别表 */
             status_code s /*状态码表*/
        where t.tutor_id = a.tutor_id /*基本信息连接*/
          and a.apply_id = a2.apply_id /*申请类别连接*/
          and a.status = s.code_id /*申请状态连接*/
          and t.organization_id = #{departmentSecretaryId} /* 院系 id */
          and a.status = 10 /* 院系秘书初审待审核 */
    </select>

</mapper>
