<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwu.mapper.TutorInspectMapper">

    <select id="selectByQuery" resultType="com.nwu.vo.QueryDepartmentSecretaryInit"
            parameterType="com.nwu.vo.TutorQuery">
        SELECT
        t.*,
        a2.apply_name as applyName,
        a.status,
        a.apply_id,
        a.commit,
        s.inspect_describe as inspectDescribe,
        o.organization_name as organizationName
        FROM `tutor_inspect` t,`apply` a, `organization` o, `status_code` s,`apply_type` a2
        WHERE
        a.id = t.tutor_id
        AND a.status = s.code_id
        AND t.organization_id = o.organization_id
        AND a.apply_id = a2.apply_id
        <if test="userId !=null and userId.length >0 ">
            AND a.tutor_id = #{userId}
        </if>
        <if test="applyType !=null and applyType.length >0">
            AND a.apply_id = #{applyType}
        </if>

        <if test="applyStatus !=null and applyStatus.length >0">
            AND a.status in
            <foreach item="status" collection="applyStatuss" open="(" separator="," close=")">
                ${status}
            </foreach>
        </if>
        <if test="subjectType !=null and subjectType.length >0">
            AND a.subject = #{subjectType}
        </if>
        <if test="organization !=null and organization.length >0">
            AND t.organization_id = #{organization}
        </if>
        <if test="userName !=null and userName.length >0">
            AND t.name = #{userName}
        </if>
        <if test="subjectName !=null and subjectName.length >0">
            AND t.applied_subject_code = #{subjectName}
        </if>


    </select>

    <!--    <update id="updateTutorInspect" parameterType="com.nwu.entities.TutorInspect">-->
    <!--        UPDATE tutor_inspect-->
    <!--        SET `name`            = #{tutorInspect.name},-->
    <!--            gender            = #{tutorInspect.gender},-->
    <!--            image= #{tutorInspect.image},-->
    <!--            organization_id= #{tutorInspect.organizationId},-->
    <!--            birthday=#{tutorInspect.birthday},-->
    <!--            `identity`        = #{tutorInspect.identity},-->
    <!--            phone= #{tutorInspect.phone},-->
    <!--            email=#{tutorInspect.email},-->
    <!--            title=#{tutorInspect.title},-->
    <!--            evaluate_time=#{tutorInspect.evaluateTime},-->
    <!--            final_degree=#{tutorInspect.finalDegree},-->
    <!--            awarding_unit_time=#{tutorInspect.awardingUnitTime}-->
    <!--        WHERE tutor_id = #{tutorInspect.tutorId};-->
    <!--    </update>-->

    <insert id="saveTutorInspectBaseInfo" parameterType="com.nwu.entities.tutor.FirstPage">
        INSERT INTO tutor_inspect
        (tutor_id, number, name, gender, organization_id, birthday, identity, phone, email, title, evaluate_time,
         final_degree, awarding_unit_time)
        VALUES (#{firstPage.tutorId}, #{firstPage.number}, #{firstPage.name}, #{firstPage.gender},
                #{firstPage.organizationId},
                #{firstPage.birthday}, #{firstPage.identity}, #{firstPage.phone}, #{firstPage.email},
                #{firstPage.title},
                #{firstPage.evaluateTime}, #{firstPage.finalDegree}, #{firstPage.awardingUnitTime});
    </insert>

    <update id="updateTutorInspectSecond" parameterType="com.nwu.entities.tutor.SecondPage">
        UPDATE tutor_inspect
        SET research_directions                      = #{secondPage.major},
            academic_groups_jobs                     = #{secondPage.groupsOrPartTimeJobsJson},
            titles_of_expert                         = #{secondPage.expertTitlesJson},
            doctoral_master_application_subject_unit = #{secondPage.doctoralMasterApplicationSubjectUnit},
            doctoral_master_subject_code             = #{secondPage.doctoralMasterSubjectCode},
            doctoral_master_subject_name             = #{secondPage.doctoralMasterSubjectName}
        WHERE tutor_id = #{id}
    </update>
</mapper>
